<div class="myTuto">
	<table class="myTutoTable">
		<col width="20%">
		<col width="70%">
		<col width="10%">
		<tr>
			<td class="myTutoImage">
				<img src="img/tuto1.jpg" width="100px" height="100px" />
			</td>
			<td>
				<ul class="myTutoDetails">
					<li>Nome tuto: <b><%= tuto.getNome() %></b></li>
					<li>Descrizione: <b><%= tuto.getDescrizione() %></b></li>
					<li>Data di creazione: <b><%= tuto.getDataCreazione() %></b></li>
				</ul>
			</td>
			<td class="myTutoOptions">
				<ul style="list-style:none;">
					<li><img src="img/icon32/magnifying-glass.png" width="32px" height="32px" title="Dettagli" /></li>
					<li><img src="img/icon32/pencil.png" width="32px" height="32px" title="Modifica" /></li>
					<li><img src="img/icon32/trash.png" width="32px" height="32px" title="Elimina" />:</li>
				</ul>
			</td>
		</tr>
	</table>
</div>